@import "tailwindcss";

@theme {
  --font-sans: "Poppins", system-ui, sans-serif;

  --color-primary: #2e91e2;
  --color-secondary: #9866eb;
  --color-background: #ffffff;
  --color-background-secondary: #f8fdff;
  --color-heading: #0f147f;
  --color-body-primary: #4A4E6D;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading font-bold;
  }
}
